.warp {
  height: calc(100vh - 64px - 48px - 48px);
  overflow: auto;
}

.item {
  cursor: pointer;
  &:hover {
    background-color: rgba(60, 90, 100, 0.04);
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info {
  width: 100px;
}

.autherInfo {
  width: 150px;
}

.loaded_counts {
  font-size: 12px;
  width: 130px;
}
